# Ignorar carpetas __pycache__ en cualquier lugar
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Archivos de logs
*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Configuración de IDE
.vscode/
.idea/
